.env

__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
.env
*.spec
dist/

*.sqlite3
db.sqlite3

media

venv/
venv312/
build_output/
.inventoryEnv/

templates/
static/
staticfiles/

# Celery
celerybeat-schedule*
celerybeat.pid
celerybeat.db

backups/
logs/
