.env

__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
.env

*.sqlite3
db.sqlite3

media

venv/
.inventoryEnv/

templates/
static/
staticfiles/

# Celery
celerybeat-schedule*
celerybeat.pid
celerybeat.db
